* {
  background-color: #000000;
  -webkit-user-select: none;
  cursor: default;

  font-family: monospace;
  font-size: 3vh;
  line-height: 2.8vh;
  color: #00FF00;
}

.red-beam {
  color: #FF0000;
}
